* {
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/mainBg.jpg') center center/ cover no-repeat;
    padding: 39px 0 62px 0; 
}

.logo .logo_img {
    display: block;  
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 50px;
}

.title {
    color:  #ffc400;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 29px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 27px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}


.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
}


.promo .promo_btn, 
.bonus .bonus_btn {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    border: 4px solid rgba(0, 0, 0 0.18 );
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}


.more .more_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 13px auto;
}

.waiting,
.bonus {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px;
}

.waiting .waiting_header, .finish .finish_header  {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}


.finish .finish_header  {
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting_wrapper {
   display: flex;
   justify-content: space-between;
   margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;  
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}


.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization,
.date {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header{
    margin-left: 391px;
    color:#299cbd;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 30px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -190px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/finish_bg.jpg') center center / cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}


.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.bonus .bonus_img {
    display: block;
    margin: 0 auto;
}

.bonus .bonus_header {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
}

.date .date_icon {
    display: block;
    margin: 0 auto;
}

.date_header h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 40px;
    text-transform: uppercase;
}

.date .date_subheader  {
    font-size: 36px;
    color: #299cbd;
    font-weight: 900;
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;

}

.date .subheader_two {
    font-size: 23px;
    color: #4a4a4a;
    margin-top: 26px;
    text-align: center;
}

footer {
    background-color: #1a1a1a;
    min-height: 166px;
    padding: 61px 0 69px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

footer a {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}

